/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*width: auto;*/
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5; */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



.container, .container-fluid {
  /*width: auto;*/
  /*max-width: 680px;*/
  padding: 0 15px;
}

.container .footer-text, .container-fluid .footer-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 110%;
}
