{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}
     {{ title }} - {% if app_name %}{{app_name}}{%else%}Application{%endif%}
    {% else %}
      Welcome to {% if app_name %}{{app_name}}{%else%}Application{%endif%}
    {% endif %}
{% endblock %}


{% block styles %}
{{super()}}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}
