{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }} - Rayqueue{% else %}Welcome to Rayqueue{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='sticky-footer.css')}}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="{{ url_for('main.index') }}">Rayqueue#}
                  <div class="navbar-brand">Rayqueue</div>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Dashboard</a></li>
                {#    <li><a href="{{ url_for('explore') }}">Explore</a></li> #}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{url_for('projects.show_projects')}}">List of projects</a></li>
                        <li class="divider"></li>
                        <li><a href="{{url_for('projects.create_project')}}">Create new project</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{current_user.first_name}}
                        {{current_user.last_name}}
                        ({{current_user.username}})
                        <img src="{{current_user.avatar(20)}}" style="width:20px">
                        <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% if current_user.administrator %}
                        <li><a href="{{ url_for('auth.users') }}">Users (admin)</a></li>
                        <li><a href="{{url_for('auth.preferences')}}">Preferences</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.user', username=current_user.username) }}">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                      </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>

    {# Footer #}

    <footer class="footer">
      <div class="container-fluid bg-primary">
        <div class="row">
          <div class="footer-text text-white col-md-2 col-md-offset-2 col-sm-1 col-sm-offset-2 col-xs-6">
            Rayqueue {{rq_version}}
          </div>
          <div class="footer-text text-white col-md-2 col-sm-1 col-xs-6">
            © {{rq_copyright}}
          </div>
        </div>
      </div>
    </footer>


{% endblock %}
