{% extends "base.html" %}

{% block app_content %}

<div class="media">
  <div class="media-left">
    <img src="{{current_user.avatar(120)}}" class="media-object" style="width:120px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{current_user.first_name}} {{current_user.last_name}}</h4>
    <p>({{current_user.username}})</p>
  </div>
</div>
<hr>

    <h1>Dashboard</h1>

    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Running projects</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <td>ID</td>
                  <td>Name</td>
                  <td>Images</td>
                </thead>
                {% if projects|length==0 %}
                <tr>
                  <td colspan="3">No files</td>
                </tr>
                {% else %}
                {% for project in projects %}
                <tr>
                  <td><a href="{{url_for('projects.show_project',projectid=project.id)}}">{{project.id}}</a></td>
                  <td><a href="{{url_for('projects.show_project',projectid=project.id)}}">{{project.name}}</a></td>
                  <td>{{project.number_of_finished_images()}}/{{project.number_of_open_images()}}</td>
                </tr>
                {% endfor %}
                {% endif %}
              </table>
          </div>
      </div>
    </div>

    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Queue</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <td>ID</td>
                  <td>State</td>
                  <td>Project</td>
                  <td>Created</td>
                  <td>Requested</td>
                </thead>
                {% if qes|length==0 %}
                <tr>
                  <td colspan="5">No images</td>
                </tr>
                {% else %}
                {% for qe in qes %}
                <tr>
                  <td><a href="{{url_for('projects.show_image',imageid=qe.image_id)}}">{{qe.id}}</a>
                  </td>
                  <td> {{qe.state2str}} </td>
                  <td>{{qe.project}}</td>
                  <td>{{qe.created.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                  <td>
                    {% if qe.requested %}
                    {{qe.requested.strftime('%Y-%m-%d %H:%M:%S')}}
                    {% else %}
                    None
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </table>
          </div>
      </div>
    </div>

{% endblock %}
