{% extends "base.html" %}

{% block app_content %}

<div class="media">
  <div class="media-left">
    <img src="{{current_user.avatar(120)}}" class="media-object" style="width:120px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{current_user.first_name}} {{current_user.last_name}}</h4>
    <p>({{current_user.username}})</p>
  </div>
</div>
<hr>

    <h1>Dashboard</h1>

    <div>
      Current client time: <b><span id="timer"></span></b>
    </div>
    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Running projects</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <div id="running_projects">
              </div>
            </div>
          </div>
      </div>
    </div>

    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Queue</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <div id="running_queue">
              </div>
            </div>
          </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
{{super()}}

{# ajax code #}
<script>
  var myVar = setInterval(myTimer, 1000);

  function myTimer() {
    var d = new Date();
    var t = d.toLocaleTimeString();
    document.getElementById("timer").innerHTML = t;
  }


  function update_data() {
    $.get("/ajax/running_data", function(data) {
      $("#running_projects").html(data.projects);
      $("#running_queue").html(data.queue);
    });
  }

  function update_data_cycle() {

    update_data();
    window.setTimeout(update_data_cycle, 60*1000);
  }

  // initial call
  //update_data_cycle();
  //window.setTimeout(update_data_cycle, 1000);

  $(document).ready(function() {
  // executes when HTML-Document is loaded and DOM is ready
    update_data_cycle();
  });
</script>

{% endblock %}
