{% extends "dashbase.html" %}

{% block app_content %}

<div class="card">
  <h5 class="card-header">Email Settings</h5>
  <div class="card-body">
    <h6 class="card-title">Environment variables:</h6>
    <p class="card-text">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <td>KEY</td>
            <td>VALUE</td>
          </thead>
          <tr>
            <td>MAIL_SERVER</td>
            <td>{{config['MAIL_SERVER']}}</td>
          </tr>
          <tr>
            <td>MAIL_PORT</td>
            <td>{{config['MAIL_PORT']}}</td>
          </tr>
          <tr>
            <td>MAIL_USE_TLS</td>
            <td>{{config['MAIL_USE_TLS']}}</td>
          </tr>
          <tr>
            <td>MAIL_USERNAME</td>
            <td>{{config['MAIL_USERNAME']}}</td>
          </tr>
          <tr>
            <td>MAIL_PASSWORD</td>
            <td>{{config['MAIL_PASSWORD']}}</td>
          </tr>
          <tr>
            <td>ADMINS</td>
            <td>{{config['ADMINS']}}</td>
          </tr>
        </table>
      </div>
    </p>
    <form id="testemailform" class="form-horizontal" role="form" method="post" action="">
      {{ test_email_form.hidden_tag() }}
      <div class="input-group form-group">
          <div class="input-group-prepend">
              {{test_email_form.test_email.label(class_="input-group-text")}}
          </div>
          {{test_email_form.test_email(class_="form-control",placeholder="Email Recipients")}}
      </div>
      <div class="form-group">
          {{test_email_form.send_email(class_="btn float-left btn-info", id="btn-send-email")}}
      </div>
    </form>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header">Logs</h5>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Environment variables:</h6>
    <p class="card-text">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <td>KEY</td>
            <td>VALUE</td>
          </thead>
          <tr>
            <td>SERVER_SOFTWARE</td>
            <td>{{config['SERVER_SOFTWARE']}}</td>
          </tr>
        </table>
      </div>
      <pre class="pre-scrollable">{{logfile_data}}
      </pre>
    </p>
  </div>
</div>

{% endblock %}
