{% extends "loginbase.html" %}

{% block app_content %}
<div class="container">
  <div id="loginbox"
        {% if mode =='login' %}
        style="margin-top:50px"
        {% else %}
        style="display:none; margin-top:50px"
        {% endif %}
        class="d-flex justify-content-end h-100">
        <div class="card login-card">
          <div class="card-header">
            <h3>Reset Your Password</h3>
            <div class="d-flex justify-content-end">
              <a href="{{url_for('auth.login')}}">Sign In</a>
            </div>
            <div class="card-body">
              <form id="loginform" class="form-horizontal" role="form" method="post" action="" novalidate>
                {{ form.hidden_tag() }}
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  {{form.password(id="login-password",class_="form-control",placeholder="Password")}}
                  {% if form.password.errors|length > 0 %}
                  <div id="signupalert" class="alert alert-danger">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  {{form.password2(id="login-password2",class_="form-control",placeholder="Repeat Password")}}
                  {% if form.password2.errors|length > 0 %}
                  <div id="signupalert" class="alert alert-danger">
                    {% for error in form.password2.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{form.submit(class_="btn float-right reset_btn", id="btn-login")}}
                </div>
              </form>
            </div>
          </div>
        </div>
  </div>
</div>


{% endblock %}
