{% extends 'loginbase.html' %}


{% block app_content %}


<div class="container">
    <div id="loginbox"
          {% if mode =='login' %}
          style="margin-top:50px"
          {% else %}
          style="display:none; margin-top:50px"
          {% endif %}
          class="d-flex justify-content-end h-100">
          <div class="card reset-card">
  			       <div class="card-header">
  				           <h3>Forgot password</h3>
                     <div class="d-flex justify-content-end">
                       <a href="{{url_for('auth.login')}}">Sign In</a>
                     </div>
  			       </div>
  			       <div class="card-body">
  				           <form id="resetform" class="form-horizontal" role="form" method="post" action="{{url_for('auth.reset_password_request')}}" novalidate>
                           {{ pform.hidden_tag() }}
  					               <div class="input-group form-group">
  						                 <div class="input-group-prepend">
  							                   <span class="input-group-text"><i class="fas fa-envelope"></i></span>
  						                 </div>
                               {{pform.email(id="login-password",class_="form-control",placeholder="Email address")}}
  					              </div>
                          {% if pform.email.errors|length > 0 %}
                          <div id="signupalert" class="alert alert-danger">
                            {% for error in pform.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% endif %}
  					              <div class="form-group">
                              {{pform.submit(class_="btn float-right reset_request_btn", id="btn-login")}}
  					              </div>
  				         </form>
  			       </div>
  		    </div>
    </div>
</div>
{% endblock %}
