{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="card border border-primary">
  <img class="card-img-top" src="{{user.avatar(128)}}" alt="Avatar">
  <div class="card-body">
    <h1 class="card-title">{{user.first_name}} {{user.last_name}}</h1>
    <p class="card-text">({{ user.username}})</p>
    <p class="card-text">Status:
      {% if user.administrator %}
      <b>Administrator</b>
      {% else %}
      Member
      {% endif %}
    </p>
    {% if user.last_seen %}
    <p class="card-text">Last seen: {{ user.last_seen.strftime("%Y-%m-%d %H:%M:%S")}}</p>
    {% endif %}
  </div>
</div>




    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Basics</div>
          </div>
          <div class="panel-body">
              <form id="updateuserform" class="form-horizontal" role="form" method="post" action="">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">
                      {{form.username.label}}
                    </label>
                    <div class="col-md-10">
                      {{form.username(class_="form-control",placeholder="Username")}}
                    </div>
                    {% if form.username.errors|length > 0 %}
                    <div id="usernamealert" class="alert alert-danger">
                    {% for error in form.username.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="first_name" class="col-md-2 control-label">
                      {{form.first_name.label}}
                    </label>
                    <div class="col-md-10">
                      {{form.first_name(class_="form-control",placeholder="First name")}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-md-2 control-label">
                      {{form.last_name.label}}
                    </label>
                    <div class="col-md-10">
                      {{form.last_name(class_="form-control",placeholder="Last name")}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">
                      {{form.email.label}}
                    </label>
                    <div class="col-md-10">
                      {{form.email(class_="form-control",placeholder="Email address")}}
                    </div>
                    {% if form.email.errors|length > 0 %}
                    <div id="emailalert" class="alert alert-danger">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                      {{form.submit(class_="btn btn-info", id="btn-update")}}
                   </div>
               </div>
              </form>
          </div>
      </div>
    </div>

    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Security</div>
          </div>
          <div class="panel-body">
              <form id="updatepassform" class="form-horizontal" role="form" method="post" action="{{url_for('auth.update_password')}}">
                {{pform.hidden_tag()}}
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{pform.password(id="login-password", class_="form-control", placeholder="New password" ) }}
                </div>
                {% if pform.password.errors|length > 0 %}
                <div id="passalert" class="alert alert-danger">
                {% for error in pform.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
                </div>
                {% endif %}
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{pform.password2(id="login-password2", class_="form-control", placeholder="Repeat new password" ) }}
                </div>
                {% if pform.password2.errors|length > 0 %}
                <div id="passalert" class="alert alert-danger">
                {% for error in pform.password2.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
                </div>
                {% endif %}
                <div class="form-group">
                  <div class="col-md-offset-1 col-md-9">
                    {{ pform.submit(class_="btn btn-info", id="btn-updatepassword")}}
                  </div>
                </div>
              </form>
          </div>
      </div>
    </div>


    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">List of user projects</div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Type</td>
                <td>Public</td>
                <td>Status</td>
                <td>Created</td>
              </thead>
              {% for project in projects %}
              <tr>
                <td><a href="{{url_for('projects.show_project', projectid=project.id)}}">{{project.id}}</a></td>
                <td><a href="{{url_for('projects.show_project', projectid=project.id)}}">{{project.name}}</a></td>
                {% if project.project_type == 0 %}
                <td>Image</td>
                {% else %}
                <td>Animation</td>
                {% endif %}
                <td>{{project.is_public}}</td>
                <td>
                  {% if project.status == 0 %}
                  Open
                  {% elif project.status == 1 %}
                  Running
                  {% elif project.status == 2 %}
                  Complete
                  {% else %}
                  Unknown
                  {% endif %}
                </td>
                <td>{{project.timestamp.strftime('%Y-%m-%d %H:%M')}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
