{% extends "dashbase.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="card">
  <img class="card-img-top" src="{{user.avatar(128)}}" style="width: 128px;" alt="Avatar">
  <div class="card-body">
    <h1 class="card-title">{{user.first_name}} {{user.last_name}}</h1>
    <p class="card-text">({{ user.username}})</p>
    <p class="card-text">Status:
      {% if user.administrator %}
      <b>Administrator</b>
      {% else %}
      Member
      {% endif %}
    </p>
    {% if user.last_seen %}
    <p class="card-text">Last seen: {{ user.last_seen.strftime("%Y-%m-%d %H:%M:%S")}}</p>
    {% endif %}
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header">Basics</h5>
  <div class="card-body">
    <form id="updateuserform" class="form-horizontal" role="form" method="post" action="">
      {{form.hidden_tag()}}
      <div class="input-group form-group">
        <div class="input-group-prepend">
            {{form.username.label(class_="input-group-text",style="width:100px")}}
        </div>
        {{form.username(class_="form-control",placeholder="Username")}}
        {% if form.username.errors|length > 0 %}
        <div id="usernamealert" class="alert alert-danger">
          {% for error in form.username.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          {{form.first_name.label(class_="input-group-text",style="width:100px")}}
        </div>
        {{form.first_name(class_="form-control",placeholder="First name")}}
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          {{form.last_name.label(class_="input-group-text",style="width:100px")}}
        </div>
        {{form.last_name(class_="form-control",placeholder="Last name")}}
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          {{form.email.label(class_="input-group-text",style="width:100px")}}
        </div>
        {{form.email(class_="form-control",placeholder="Email address")}}
        {% if form.email.errors|length > 0 %}
        <div id="emailalert" class="alert alert-danger">
          {% for error in form.email.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="input-group form-group">
        {{form.submit(class_="btn btn-info", id="btn-update")}}
      </div>
    </form>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header">Security</h5>
  <div class="card-body">
    <form id="updatepassform" class="form-horizontal" role="form" method="post" action="{{url_for('auth.update_password')}}">
      {{pform.hidden_tag()}}
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
        </div>
        {{pform.password(id="login-password", class_="form-control", placeholder="New password" ) }}
        {% if pform.password.errors|length > 0 %}
        <div id="passalert" class="alert alert-danger">
          {% for error in pform.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
        </div>
        {{pform.password2(id="login-password2", class_="form-control", placeholder="Repeat new password" ) }}
        {% if pform.password2.errors|length > 0 %}
        <div id="passalert" class="alert alert-danger">
          {% for error in pform.password2.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="input-group form-group">
        {{ pform.submit(class_="btn btn-info", id="btn-updatepassword")}}
      </div>
    </form>
  </div>
</div>


<div class="card mt-3">
  <h5 class="card-header">List of user projects</h5>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <td>ID</td>
          <td>Name</td>
          <td>Type</td>
          <td>Public</td>
          <td>Status</td>
          <td>Created</td>
        </thead>
        {% for project in projects %}
        <tr>
          <td><a href="{{url_for('projects.show_project', projectid=project.id)}}">{{project.id}}</a></td>
          <td><a href="{{url_for('projects.show_project', projectid=project.id)}}">{{project.name}}</a></td>
          {% if project.project_type == 0 %}
          <td>Image</td>
          {% else %}
          <td>Animation</td>
          {% endif %}
          <td>{{project.is_public}}</td>
          <td>
            {% if project.status == 0 %}
            Open
            {% elif project.status == 1 %}
            Running
            {% elif project.status == 2 %}
            Complete
            {% else %}
            Unknown
            {% endif %}
          </td>
          <td>{{project.timestamp.strftime('%Y-%m-%d %H:%M')}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock %}
