{% extends "base.html" %}

{% block app_content %}
    <h3>Project:</h3>
    <br>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=64) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
      {{ form.project_type.label }}<br>
      {% for subfield in form.project_type %}
         &nbsp; {{ subfield }}
         {{ subfield.label }}<br>
      {% endfor %}
      {% for error in form.project_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.is_public.label }}<br>
      &nbsp; {{ form.is_public }}<br>
      {% for error in form.project_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.update() }}</p>
    </form>
{% endblock %}
