{% extends "dashbase.html" %}

{% block app_content %}

<div class="card">
  <img class="card-img-top" src="{{image.owner.avatar(128)}}" style="width: 128px;" alt="Avatar">
  <div class="card-body">
    <h1 class="card-title">{{image.owner.first_name}} {{image.owner.last_name}}</h1>
    <p class="card-text">({{image.owner.username}})</p>
  </div>
</div>


<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        Created:
      </div>
      <div class="col-10">
        {{image.created.strftime('%Y-%m-%d %H:%M:%S')}}
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        Project:
      </div>
      <div class="col-10">
        <a href="{{url_for('projects.show_project',projectid=image.project_id)}}">{{image.project.name}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        Status:
      </div>
      <div class="col-10">
        {% if image.error_code is none or image.error_code == 0 %}
        {{image.state2str}}
        {% else %}
        <span style="color:red">{{image.state2str}} (Error)</span>
        {% endif %}
      </div>
    </div>
    {% if image.state == image.IMAGE_STATE_FINISHED %}
    <div class="row">
      <div class="col-2">
        Finished:
      </div>
      <div class="col-2">
        {{image.finished.strftime('%Y-%m-%d %H:%M:%S')}}
      </div>
      <div class="col-2">
        Error code:
      </div>
      <div class="col-6">
        {% if image.error_code == 0 %}
        {{image.error_code}}
        {% else %}
        <span style="color:red"><b>{{image.error_code}}</b></span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        Process time:
      </div>
      <div class="col-10">
        {{'%0.3f'|format((image.finished-image.requested).total_seconds())}}s
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% if image.render_image != -1 %}
<div class="card mt-3">
  <h5 class="card-header">Rendered image</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        Image size:
      </div>
      <div class="col-10">
        {{image.im_width()}}x{{image.im_height()}} pixels
      </div>
    </div>
    <div class="row mt-3">
      <a href="{{url_for('projects.get_render_image',imageid=image.id)}}">
        <img class="col-12" src="{{url_for('projects.get_render_icon',imageid=image.id)}}">
      </a>
    </div>
    <div class="row mt-3"
      <div class="col-2">
        <form id="uploadform" class="form-horizontal" role="form" method="post" action="{{url_for('social.flickr_upload')}}">
          {{uform.hidden_tag()}}
        </form>
        <button id="flickr_btn" class="btn btn-info" form="uploadform">
          <i class="fab fa-flickr"></i> flickr upload
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if image.log_file != -1 %}
<div class="card mt-3">
  <h5 class="card-header">Logfile</h5>
  <div class="card-body">
    <div class="row">
      <pre class="col-12 pre-scrollable">{{logfile_data}}
      </pre>
    </div>
  </div>
</div>
{% endif %}

<div class="card mt-3">
  <h5 class="card-header">Downloads</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        Model:
      </div>
      <div class="col-10">
        <a href="{{url_for('projects.get_project_file',projectid=image.project_id,fileid=image.model)}}">{{image.model}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        Rendered image:
      </div>
      <div class="col-10">
        {% if image.render_image == -1 %}
        Unavailable
        {% else %}
        <a href="{{url_for('projects.get_project_file',projectid=image.project_id,fileid=image.render_image)}}">{{image.render_image}}</a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        Log file:
      </div>
      <div class="col-10">
        {% if image.log_file == -1 %}
        Unavailable
        {% else %}
        <a href="{{url_for('projects.get_project_file',projectid=image.project_id,fileid=image.log_file)}}">{{image.log_file}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
