{% extends "base.html" %}

{% block app_content %}
    <div class="card border border-primary">
      <img class="card-img-top" src="{{user.avatar(128)}}" alt="Avatar">
      <div class="card-body">
        <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
        <p class="card-text">({{ user.username}})</p>
        <p class="card-text">created: {{ project.timestamp.strftime("%Y-%m-%d %H:%M")}}</p>
      </div>
    </div>


    <div style="margin-top:50px" class="mainbox">
      <div class="panel panel-info">
          <div class="panel-heading">
              <div class="panel-title">Project</div>
          </div>
          <div class="panel-body">
            <form id="testemailform" class="form-horizontal" role="form" method="post" action="">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">
                      {{form.name.label}}
                    </label>
                    <div class="col-md-10">
                      {{form.name(class_="form-control",placeholder="Name",readonly=readonly)}}
                    </div>
                    {% if form.name.errors|length > 0 %}
                    <div id="signupalert" class="alert alert-danger">
                    {% for error in form.name.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="project_type" class="col-md-2 control-label">
                        {{form.project_type.label}}
                    </label>
                    <div class="col-md-10">
                    {% for subfield in form.project_type %}
                      <label class="radio-inline {{readonly and 'disabled' or ''}}">
                        {{subfield()}} {{subfield.label}}
                      </label>
                    {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                  <label for="version" class="col-md-2 control-label">
                       {{form.version.label}}
                  </label>
                  <div class="col-md-1">
                  {{form.version(class_="form-control",readonly=readonly)}}
                  </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                      test_email_form.send_email(class_="btn btn-info", id="btn-send-email")
                   </div>
               </div>
           </form>
         </div>
       </div>
    </div>


    <h3>Project:</h3>
    <br>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=64) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
      {{ form.project_type.label }}<br>
      {% for subfield in form.project_type %}
         &nbsp; {{ subfield }}
         {{ subfield.label }}<br>
      {% endfor %}
      {% for error in form.project_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.version.label }}<br>
      &nbsp; {{ form.version }}<br>
    </p>
    <p>
      {{ form.is_public.label }}<br>
      &nbsp; {{ form.is_public }}<br>
      {% for error in form.project_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <b>Status</b><br>
      &nbsp;
      {% if project.status == 0 %}
      Open
      {% elif project.status == 1 %}
      Running
      {% elif project.status == 2 %}
      Complete
      {% else %}
      Unknown
      {% endif %}
    <p>{{ form.update() }}</p>
    </form>
    <hr>
    <h4>BaseFiles</h4>
    <form action="{{url_for('projects.upload_project_basefile',projectid=project.id)}}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <table class="table">
      <thead>
        <td></td>
        <td>ID</td>
        <td>Name</td>
        <td>Size</td>
        <td>MD5</td>
        <td>Created</td>
      </thead>
      {% if project.base_files is none %}
      <tr>
        <td colspan="4">No files</td>
      </tr>
      {% else %}
      {% for file in project.base_files %}
      <tr>
        <td></td>
        <td> {{file.id}} </td>
        <td> {{file.name}} </td>
        <td> {{size2human(file.size)}} </td>
        <td> {{file.md5sum}} </td>
        <td> {{file.timestamp.strftime("%Y-%m-%d %H:%M")}} </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
    <p>
      {{uform.upload}} <br>
    </p>
    <p>{{uform.submit}}</p>
    </form>
{% endblock %}
