{% extends "base.html" %}

{% block app_content %}
    <div class="pull-right">
      <img src="{{ user.avatar(128) }}">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      ({{ user.username}})<br>
      created: {{ project.timestamp.strftime("%Y-%m-%d %H:%M")}}
    </div>
    <h3>Project:</h3>
    <br>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=64) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
      {{ form.project_type.label }}<br>
      {% for subfield in form.project_type %}
         &nbsp; {{ subfield }}
         {{ subfield.label }}<br>
      {% endfor %}
      {% for error in form.project_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.is_public.label }}<br>
      &nbsp; {{ form.is_public }}<br>
      {% for error in form.project_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <b>Status</b><br>
      &nbsp;
      {% if project.status == 0 %}
      Open
      {% elif project.status == 1 %}
      Running
      {% elif project.status == 2 %}
      Complete
      {% else %}
      Unknown
      {% endif %}
    <p>{{ form.update() }}</p>
    </form>
{% endblock %}
