{% extends "base.html" %}

{% block app_content %}
  <div style="margin-top:50px" class="mainbox">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Image</div>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <img src="{{image.owner.avatar(120)}}" class="media-object" style="width:120px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              {{image.owner.first_name}} {{image.owner.last_name}}</h4>
            <p>({{image.owner.username}})</p>
          </div>
        </div>
        <hr>

        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Created
          </label>
          <div class="col-md-6">
            {{image.created.strftime('%Y-%m-%d %H:%M:%S')}}
          </div>
        </div>
        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Project
          </label>
          <div class="col-md-6">
            <a href="{{url_for('projects.show_project',projectid=image.project_id)}}">{{image.project.name}}</a>
          </div>
        </div>
        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Status
          </label>
          <div class="col-md-6">
            {% if image.error_code is none or image.error_code == 0 %}
            {{image.state2str}}
            {% else %}
            <span style="color:red">{{image.state2str}} (Error)</span>
            {% endif %}
          </div>
        </div>

        <hr>

        {% if image.state == image.IMAGE_STATE_FINISHED %}
        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Finished:
          </label>
          <div class="col-md-2">
            {{image.finished.strftime('%Y-%m-%d %H:%M:%S')}}
          </div>
          <label class="col-md-2 control-label">
            Error code:
          </label>
          <div class="col-md-1">
            {% if image.error_code == 0 %}
            {{image.error_code}}
            {% else %}
            <span style="color:red"><b>{{image.error_code}}</b></span>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Process time:
          </label>
          <div class="col-md-2">
            {{(image.finished-image.requested).total_seconds()}}s
          </div>
        </div>
        <hr>
        {% endif %}
        {% if image.render_image != -1 %}
        <div class="form-group">
          Preview:
        </div>
        <div class="row">
          <a href="{{url_for('projects.get_render_image',imageid=image.id)}}">
            <img class="col-md-offset-1" src="{{url_for('projects.get_render_icon',imageid=image.id)}}">
          </a>
        </div>
        <hr>
        {% endif %}
        {% if image.log_file != -1 %}
        <div class="form-group">
          Logfile:
        </div>
        <div class="row">
          <pre class="col-md-offset-1 pre-scrollable">{{logfile_data}}
          </pre>
        </div>
        <hr>
        {% endif %}
        <div class="form-group">
          Downloads
        </div>
        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Model
          </label>
          <div class="col-md-9">
            <a href="{{url_for('projects.get_project_file',projectid=image.project_id,fileid=image.model)}}">{{image.model}}</a>
          </div>
        </div>
        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Rendered image
          </label>
          <div class="col-md-9">
            {% if image.render_image == -1 %}
            Unavailable
            {% else %}
            <a href="{{url_for('projects.get_project_file',projectid=image.project_id,fileid=image.render_image)}}">{{image.render_image}}</a>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <label class="col-md-offset-1 col-md-2 control-label">
            Log file
          </label>
          <div class="col-md-9">
            {% if image.log_file == -1 %}
            Unavailable
            {% else %}
            <a href="{{url_for('projects.get_project_file',projectid=image.project_id,fileid=image.log_file)}}">{{image.log_file}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
